<div id="totalProducts">
    <h1>Lista de productos en tiempo real</h1>
    {{#each totalProducts}}
        <ul>
            <li>Nombre: {{this.title}}</li>
            <li>Descripcion: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Categoria: {{this.category}}</li>
            <li>Codigo: {{this.code}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>ID: {{this.ID}}</li>
            <li>Estatus: {{this.status}}</li>
        </ul>
    {{/each}}
</div>    
    
<div>
    <h2>Ingresar Producto</h2>
    <form id="formProduct" method="post">
      <label for="title">Título:</label>
      <input type="text" name="title" id="title" required><br>
      
      <label for="description">Descripción:</label>
      <textarea name="description" id="description" rows="4" cols="50" required></textarea><br>
      
      <label for="price">Precio:</label>
      <input type="number" name="price" id="price" required><br>
      
      <label for="category">Categoría:</label>
      <select name="category" id="category" required>
        <option value="">Selecciona una categoría</option>
        <option value="Electrónica">Electrónica</option>
        <option value="Ropa">Ropa</option>
        <option value="Hogar">Hogar</option>
        <option value="Deportes">Deportes</option>
      </select><br>
      
      <label for="thumbail">Foto:</label>
      <input type="text" name="thumbail" id="thumbail"><br>
      
      <label for="code">Código:</label>
      <input type="text" name="code" id="code" required><br>
      
      <label for="stock">Stock:</label>
      <input type="number" name="stock" id="stock" required><br>
      
      <input type="submit" value="Crear Producto">
    </form>
</div>

<div>
     <h2>Eliminar Producto</h2>
     <form id="formDeleteProduct">
        <label for="ID">ID Producto:</label>
        <input type="number" name="id" id="id" required><br>
        <input type="submit" value="Eliminar Producto">
     </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

